<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">

    <footer class="text-center text-lg-start" style="background-color: #db6930;">
        <div class="container d-flex justify-content-center py-5">
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                Bienvenido a la tu aplication del Tiempo
            </button>

        </div>

        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="https://moha-abb.netlify.app/">MohaDev</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->